<%-include('../includes/header');%>
<%-include('../includes/nav');%>
<section id="intro">
  <div class="container-lg">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-6">
        <form class="row g-3 justify-content-center needs-validation" novalidate action="/admin/add-product"
          method="POST">
          <div class="form-group">
            <label for="validationCustom01" class="form-label fw-bold">Title:</label>
            <input type="text" class="form-control" name="title" id="validationCustom01" required />
            <div class="invalid-feedback">Please provide a title.</div>
          </div>
          <div class="form-group">
            <label for="validationCustom02" class="form-label fw-bold">Image Url:</label>
            <input type="text" class="form-control" name="imageUrl" id="validationCustom02" required />
            <div class="invalid-feedback">Please provide a price.</div>
          </div>
          <div class="form-group">
            <label for="validationCustom03" class="form-label fw-bold">Price:</label>
            <input type="number" step="0.01" class="form-control" name="price" id="validationCustom03" required />
            <div class="invalid-feedback">Please provide a price.</div>
          </div>
          <div class="form-group">
            <label for="validationCustom04" class="form-label fw-bold">Description:</label>
            <textarea name="description" id="validationCustom04" class="form-control" cols="30" rows="10"></textarea>
            <div class="invalid-feedback">Please provide a description.</div>
          </div>
          <button class="btn btn-outline-primary fw-bold" type="submit">Add Product</button>
      </div>
      
      
      </form>
    </div>
  </div>
  </div>
</section>
<%-include('../includes/footer');%>