<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.min.css' />
    <style>
      section{
        padding: 60px 0;
      }
    </style>
  </head>
  <body>